---
---

@import "{{ site.theme }}";

section {
  max-width:850px;
  padding: 30px 0px 50px 0px;
  margin: 20px 0;
  margin-top: 70px;

  #title {
    border: 0;
    outline: none;
    margin: 0 0 50px 0;
    padding: 0 0 5px 0;

    h1 {
      font-family: 'OpenSansLight', "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-weight: normal;
      font-size: 40px;
      text-align: center;
      line-height: 36px;
    }

    p {
      color: #d7cfbe;
      font-family: 'OpenSansLight', "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-weight: normal;
      font-size: 18px;
      text-align: center;
    }

    .credits {
      font-size: 11px;
      font-family: 'OpenSansRegular', "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-weight: normal;
      color: #696969;
      margin-top: -10px;

      &.left {
        float: left;
      }

      &.right {
        float: right;
      }
    }

  }
}

.wrapper {
    max-width: 850px;
    margin: 0 auto;
    position: relative;
    padding:0 20px
}

.highlight .err { 
    color: #efefef; 
    background-color: #252525;
}

body {
    background-color: #313131;
}

#header { 
  z-index: 100; 
  left: 0; 
  top: 0px; 
  height: 20px; 
  width: 100%; 
  position: fixed; 
  background: url(../images/nav-bg.gif) #353535; 
  border-bottom: 4px solid #434343; 
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25); 
}

@media print, screen and (max-width: 480px) { 
  #header { 
    margin-top: 0px; 
  }
  section { 
    margin-top: 40px; 
  }
  nav { 
    display: none; 
  } 
}

#footer { 
  z-index: 100; 
  left: 0; 
  bottom: 0px; 
  height: 20px; 
  width: 100%; 
  position: fixed; 
  background: url(../images/nav-bg.gif) #353535; 
  border-top: 4px solid #434343; 
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25); 
}

h1 { 
  color: #ffcc00; 
  font-weight: 400; 
  text-decoration: none; 
}

h1:hover { 
  color: #ffeb9b; 
}

section #title .credits { 
  font-size: 14px; 
  font-family: 'OpenSansRegular', "Helvetica Neue", Helvetica, Arial, sans-serif; 
  font-weight: normal; 
  font-style: italic;
  color: #696969; 
  margin-top: -10px; 
}

.svgcontainer {
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.svgcontainer .svg {
  background-color: #373737;
  display: inline-block;
  margin: 0 auto;
  padding: 1rem;
}

.img {
  display: flex;
  justify-content: center;
  padding: 2rem;
}
